body {
  margin: 0;
  font-family: "Commissioner", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100dvw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit; /* Ensure anchor text inherits color */
  text-decoration: none; /* Remove underline */
  cursor: pointer;
}
